*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  overflow-x: hidden;
  
}

body,html{
  height: 100%;
}
body{
  max-width: 1010px;
  margin: 0 auto;
  overflow-y: auto;
}
button{
  cursor: pointer;
}


